{% extends "base.html %}

{% block content %}

     <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-white py-3 text-center">
                    <h4 class="mb-0 text-secondary">
                        {% if produto %}
                            Modificar Produto
                        {% else %}
                            Novo Produto no Estoque
                        {% endif %}
                    </h4>
                </div>

                <div class="card-body p4">
                    <form method="POST">
                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Nome do produto
                            </label>
                            <input type="text" name="nome" class="form-control" value="{{ produto.nome if produto else '' }}" required placeholder="Ex: Notebook M2">
                        </div>

                    </form>
                
                </div>

            </div>
        </div>
    </div>

{% endblock %}